.search-form {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 84px;
}


@media screen and (max-width: 1270px) {
    .search-form {
        flex-direction: column;
        align-items: center;
        gap: 38px;
    }
}

@media screen and (max-width: 767px) {
    .search-form {
        gap: 42px;
        margin-bottom: 50px;
    }
}

.search-form__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}


.search-form__input {
    padding: 0;
    line-height: 34px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 50px;
    width: 932px;
    height: 48px;
    color: #AAA;
    border: 1.5px solid #AAA;
    background-color: #202020;
    opacity: 0.8;

}

@media screen and (max-width: 1270px) {
    .search-form__input {
        width: 708px;
    }
}

@media screen and (max-width: 767px) {
    .search-form__input {
        width: 300px;
    }
}

.search-form__input:focus {
    outline: auto;
}


.search-form__button {
    position: absolute;
    right: 10px;
    bottom: 8px;
    align-self: center;
    border-radius: 48px;
    background-color: #4285F4;
    color: white;
    cursor: pointer;
    border: none;
    width: 58.65px;
    height: 34px;
    line-height: 18px;
    font-size: 11px;
    text-align: center;
}